/* header */

img{
    height: auto;
}

.pdf-link{
    width: 100%;
}

.pdf-detail{
    line-height: 12px;
}

header{
    height: 140px;
    position: fixed;
    z-index: 9999;
    background: #fff;
    width: 100%;
    top: 0;
    position: fixed;
    position: sticky;
    right: 0;
}

#megamenu{
    position: fixed;
    background: rgb(3,43,95);
    background: -moz-linear-gradient(90deg, rgba(3,43,95,1) 0%, rgba(0,72,146,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3,43,95,1) 0%, rgba(0,72,146,1) 100%);
    background: linear-gradient(90deg, rgba(3,43,95,1) 0%, rgba(0,72,146,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#032b5f",endColorstr="#004892",GradientType=1);
    z-index: 2;
}

.megamenu{
    background: rgb(3,43,95);
    background: -moz-linear-gradient(90deg, rgba(3,43,95,1) 0%, rgba(0,72,146,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3,43,95,1) 0%, rgba(0,72,146,1) 100%);
    background: linear-gradient(90deg, rgba(3,43,95,1) 0%, rgba(0,72,146,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#032b5f",endColorstr="#004892",GradientType=1);
}

@media (max-width: 768px) {
    #megamenu{
        overflow-y: scroll;
    }
}

.atGlance{
    position: relative;
    display: block;
    margin-bottom: 3%;
}

.rounded-card--inner span{
    font-weight: bold;
}


.rounded-card--inner span em{
    font-style: normal;
}

#atGlance{
    background: rgb(4,44,96);
    background: -moz-linear-gradient(90deg, rgba(4,44,96,1) 0%, rgba(0,72,146,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(4,44,96,1) 0%, rgba(0,72,146,1) 100%);
    background: linear-gradient(90deg, rgba(4,44,96,1) 0%, rgba(0,72,146,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#042c60",endColorstr="#004892",GradientType=1);
}

#messageChairman{
    background: rgb(50,109,167);
    background: -moz-linear-gradient(90deg, rgba(50,109,167,1) 0%, rgba(51,97,147,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(50,109,167,1) 0%, rgba(51,97,147,1) 100%);
    background: linear-gradient(90deg, rgba(50,109,167,1) 0%, rgba(51,97,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#326da7",endColorstr="#336193",GradientType=1);
}

#messageCEO{
    background: rgb(0,72,146);
    background: -moz-linear-gradient(90deg, rgba(0,72,146,1) 0%, rgba(3,43,95,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,72,146,1) 0%, rgba(3,43,95,1) 100%);
    background: linear-gradient(90deg, rgba(0,72,146,1) 0%, rgba(3,43,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004892",endColorstr="#032b5f",GradientType=1);
}
#medicalServices, #emergencyServices, #schoolHealthcare, #facilitiesManagement{
    background: rgb(4,44,96);
    background: -moz-linear-gradient(120deg, rgba(4,44,96,1) 0%, rgba(0,72,146,1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(4,44,96,1) 0%, rgba(0,72,146,1) 100%);
    background: linear-gradient(120deg, rgba(4,44,96,1) 0%, rgba(0,72,146,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#042c60",endColorstr="#004892",GradientType=1);
}

.message-detail.bg-grey{
    background: #e9e9e9;
}
.arrow {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0) rotate(135deg);
    background: #aeafb1;
    padding: 15px;
    border-radius: 50px;
}
.arrow:before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
    margin-top: 3px;
    margin-left: -3px;
 }


.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition: .2s ease;
    margin-left: -3px;
}

.arrow:hover{
    cursor: pointer;
}

@media (max-width: 768px){
    .atGlance{
        display: none;
    }
}
@media (min-width: 769px) {

    .isotopemegamen .mobile_menu{
        display: none;
    }
}
@media (max-width: 768px) {
    .desktop_menu {
        display: none;
    }

    .isotopemegamen .mobile_menu{
        display: block;
        position: relative;
    }

}



/* main banner */

.isotopebanner{
    background: #e4e4e6;
}

@media (min-width: 769px) {

    .mobile_banner {
        display: none;
    }
}
@media (max-width: 768px) {
    .desktop_banner {
        display: none;
    }

    .mobile_banner {
        display: block;
        position: relative;
    }

}

@media (max-width: 420px) {
    .mobile_banner {
        margin-top: 16%;
    }
}


@media (max-width: 320px) {
    .mobile_banner {
        margin-top: 10%;
    }

    .header .nav--name{
        font-size: 14px;
    }
}
/* atglance */
.rounded-card.white, .rounded-card-1{
    border: 1px solid #7c85a2;
}

/* */

.rounded-card.blue, .rounded-card.red{
    border-width: 1px;
}

/* */
.gridwrapper.greybg.ceo .third-grid{
    bottom: 45%;
}

.gridwrapper.greybg.ceo .fifth-grid{
    width: 304px;
}

.gridwrapper.greybg.ceo .fourth-grid{
    right: 58.5%;
}

/* */

.message-detail.bg-grey{
    background: #e4e4e6;
}

/* */
.message.medicalmanpower{
    background: #e5e5e5;
}

.partners .partnerslogos .partnerlogo{
    width:  11.11%;
    display: flex;
    height: 98px;
}

.partners .partners-title:before, .partners .partners-title:after{
    background: #b8b8b8;
}

/* */

.gridwrapper.bluebg.onsite .second-grid{
    border-radius: 0 20px 0 20px;
}

.gridwrapper.bluebg.onsite .fifth-grid{
    border-radius: 0 20px 0 20px;
}

/* */

#medicalServices .rounded-card--inner,
#schoolHealthcare .rounded-card--inner,
#facilitiesManagement .rounded-card--inner,
#emergencyServices .rounded-card--inner{
    align-items: flex-start;
}


.onsitemedical .gridwrapper.bluebg.onsite .first-grid{
    padding: 20px 35px;
    z-index: 2;
}
.gridwrapper.bluebg.healthcare .first-grid{
    z-index: 1;
}

.gridwrapper.bluebg.school .first-grid {
    z-index: 1;
}
/* */

.gridwrapper.greybg.manpower .fourth-grid{
    right: 76%;
}

/* */

.medicalmanpower .gridwrapper.greybg.manpower .fifth-grid{
    border-radius: 0 20px 0 20px;
}

.onsitemedical .gridwrapper.bluebg.emergency .first-grid{
    padding: 20px 35px;
    width: 218px;
    right: 0;
    z-index: 1;
}

.onsitemedical .gridwrapper.bluebg.emergency .second-grid {
    border: 0;
    right: 34%;
    width: 244px;
}

.onsitemedical .gridwrapper.bluebg.emergency .fourth-grid{
    left: -16.5%;
}

.medicalmanpower .rounded-card--inner{
    align-items: flex-start;
}

.gridwrapper.greybg.support .first-grid{
    width: 218px;
    z-index: 0;
}

/* */

.onsitemedical .rounded-card--inner img{
    max-width: 52px;
}

.gridwrapper.bluebg.school .first-grid{
    right: 0;
    width: 210px;
    padding: 20px 35px;
}

.gridwrapper.bluebg.school .second-grid{
    border-radius: 0 20px 0 20px;
    right: 32.5%;
    width: 252px;
}

.gridwrapper.bluebg.school .fourth-grid{
    left: -94px;
}


/* footer */
@media (max-width: 767px) {
    .footer .megamenu--left {
        display: none;
    }

    .footer .pdf-detail span{
        color: white;
    }

    .card{
        border-left: 0;
        border-right: 0;
    }
}

@media (min-width: 769px) {

    .footer  .mobile_menu{
        display: none;
    }
}
@media (max-width: 768px) {
    .desktop_menu {
        display: none;
    }

    .footer .mobile_menu{
        display: block;
        position: relative;
    }

}

/* responsive */

@media (max-width: 767px){
    .header{
        height: 90px;
    }
    .header--right{
        margin: 0;
        height: auto;
    }
}

@media (max-width: 375px){
    .header{
        height: 60px;
    }

}

.isotopebanner {
    padding: 40px 0;
    background: url("../images/grey-bg.png") no-repeat;
    background-size: cover; }
.isotopebanner .grid {
    position: relative;
    height: 750px; }
.isotopebanner .grid__item {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0; }
.isotopebanner .iso-1 {
    top: 0;
    left: 11.8%; }
.isotopebanner .iso-2 {
    left: 24.5%;
    top: 12%; }
.isotopebanner .iso-3 {
    left: 46.5%;
    top: 12%; }
.isotopebanner .iso-4 {
    left: 63.5%;
    top: 0; }
.isotopebanner .iso-5 {
    top: 12%;
    right: 0; }
.isotopebanner .iso-6 {
    left: 38%;
    top: 30%;}
.isotopebanner .iso-7 {
    left: 51%;
    top: 30%; }
.isotopebanner .iso-8 {
    left: 64%;
    top: 30%; }
.isotopebanner .iso-9 {
    left: 11.8%;
    top: 47%;
}
.isotopebanner .iso-10 {
    left: 25%;

    top: 46.5%;}
.isotopebanner .iso-11 {
    left: 50%;
    top: 46.5%; }
.isotopebanner .iso-12 {
    left: 0;
    top: 66%; }
.isotopebanner .iso-13 {
    left: 50%;
    top: 63.5%; }
.isotopebanner .iso-14 {
    left: 75%;
    top: 63.5% }
.isotopebanner .iso-15 {
    left: 11.8%;
    bottom: 37px; }
.isotopebanner .iso-16 {
    left: 37%;
    bottom: 37px; }
.isotopebanner .iso-17 {
    right: 0;
    bottom: 37px; }
.isotopebanner .iso-18 {
    left: 0;
    top: 22%; }
.isotopebanner .grid__item {
    overflow: hidden; }
.isotopebanner .grid__item.anticlock-br {
    border-radius: 0 25px 0 25px; }
.isotopebanner .grid__item.clock-br {
    border-radius: 25px 0 25px 0; }
.isotopebanner .grid__item.red {
    background: #E30613; }
.isotopebanner .grid__item.blue {
    background: #004891; }
.isotopebanner .grid__item.text-grid {
    padding: 20px;
    font-family: vga-thin;
    font-size: 43px;
    font-size: 2.6875em;
    color: white;
    line-height: 43px; }
.isotopebanner .grid__item-1 {
    height: 115px;
    width: 130px; }
.isotopebanner .grid__item-2 {
    height: 125px;
    width: 235px;
    border-radius: 0 25px 0 25px; }
.isotopebanner .grid__item-3 {
    height: 147px;
    width: 178px;
    border-radius: 0 25px 0 25px; }
.isotopebanner .grid__item-4 {
    height: 187px;
    width: 262px;
    border-radius: 0 25px 0 25px; }
.isotopebanner .grid__item-5 {
    height: 251px;
    width: 492px;
    border-radius: 0 25px 0 25px; }
.isotopebanner .grid__item-6 {
    height: 115px;
    width: 133px;
    border-radius: 0 25px 0 25px; }
.isotopebanner .grid__item-7 {
    height: 220px;
    width: 264px;
    border-radius: 0 25px 0 25px; }
.isotopebanner .grid__item--width2 {
    width: 66%; }
.isotopebanner .grid__item img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}