/*@import url("https://fonts.googleapis.com/css?family=Muli:600,800,900");*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');
@import url('../Gotham-Font/gotham.css');

/*
@font-face {
    font-family: 'vga-thin';
    src: url(../fonts/VAGRounded-Thin.otf);
}

@font-face {
    font-family: 'vga-light';
    src: url(../fonts/VAGRounded-Light_Ex.ttf);
} */
html {
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
}

img {
    height: 100%;
    width: 100%;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

strong{
    font-weight: bold;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.rounded-card-1 {
    border: 1.5px solid #abb0b9;
    font-family: 'Gotham';
    font-weight: 700;
    padding: 20px;
    border-radius: 0 25px 0 25px;
    font-size: 12px;
    font-size: 0.75em;
    width: 177px;
    height: 190px;
    margin-left: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.rounded-card {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    padding: 20px;
    border-radius: 0 25px 0 25px;
    font-size: 12px;
    font-size: 0.75em;
    width: 208px;
    height: 220px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.rounded-card.item3{
    border-radius: 25px 0 25px 0;
}

.rounded-card.item4{
    border-radius: 25px 0 25px 0;
}

.rounded-card.item6{
    border-radius: 25px 0 25px 0;
}

.rounded-card--width1 {
    width: 431px;
}

.rounded-card--width1 .rounded-card--inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.rounded-card--width1 .rounded-card--inner figure {
    width: 300px;
    height: 100%;
}

.rounded-card--height1 {
    height: 282px;
}

.rounded-card--height1 .rounded-card--inner figure {
    height: 50%;
    width: 90px;
}

.rounded-card--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
}

.rounded-card--inner2 {

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.rounded-card--inner figure {
    width: 60px;
    margin: 0;
    height: 30%;
}

.rounded-card--inner span {
    font-family: 'Quicksand', sans-serif;
    font-size: 44px;
    color: #E30613;
    width: 100%;
}

.rounded-card--inner p {
    margin: 0;
    font-weight: bold;
    line-height: 14px;
    font-size: 12px;
    font-family: 'Gotham';
}

.rounded-card.red {
    border: 1.5px solid #E30613;
    z-index: 1;
    color: #004891;
}

.rounded-card.blue {
    border: 1.5px solid #004891;
    color: #004891;
}

.rounded-card.grey {
    border: 1.5px solid #BEBCBE;
    color: #004891;
}

.rounded-card.white {
    border: 1.5px solid #abb0b9;
    color: white;
}

hr {
    margin: 50px 0 25px;
    background: #828487;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 140px;
}

.header--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header--right {
    height: 70px;
    width: 260px;
}

.header .navbtn {
    width: 80px;
    height: 45px;
    position: relative;
    margin: 10px 0;
}

@media(max-width: 420px){
    .header .navbtn {
        width: 60px;
    }
}

.header .navbtn:hover {
    cursor: pointer;
}

.header .navbtn.active span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 18px;
}

.header .navbtn.active span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.header .navbtn.active span:nth-child(3) {
    width: 36px;
    top: 18px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.header .navbtn span {
    position: absolute;
    height: 4px;
    background: #E30613;
    margin: 4px 0;
    display: block;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header .navbtn span:nth-child(1) {
    width: 36px;
    top: 10px;
}

.header .navbtn span:nth-child(2) {
    width: 36px;
    top: 18px;
}

.header .navbtn span:nth-child(3) {
    width: 20px;
    top: 26px;
}

.header .nav--name {
    font-size: 20px;
    font-size: 1.25em;
    color: #004891;
}

.megamenu {
    display: none;
    background: url("../images/darker-blue-bg.png") no-repeat;
    background-size: cover;
    padding: 35px 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.megamenu--left ul {
    margin-top: 4%;
}

.megamenu--left ul li a {
    color: #ffffff;
    font-size: 12px;
    font-family: 'Gotham';
    font-weight: 500;
    display: block;
    padding: 3px 0;
}

@media (max-width: 420px) {
    .megamenu--left ul li a {
        font-size: 14px;
    }
}

.megamenu--left ul li a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.message {
    padding: 45px 0;
    position: relative;
}

.message.message-chair {
    background: #336BA4;
    padding: 0;
}

.message.message-ceo {
    background: url("../images/dark-blue-bg.png") no-repeat;
    background-size: cover;
    padding: 0;
}

.message-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.message-banner--left {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 40px 0;
}

.message-banner--right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    width: 40%;
    margin-top: calc(18% - 221px) !important;
    padding-top: 40px;
}

@media (min-width: 767px){
    .message-banner--right{
        margin-right: -3% !important;
    }
}

.message.onsitemedical {
    /*background: url("../images/darker-blue-bg.png") no-repeat;*/
    /*background-size: cover;*/
    background: rgb(4, 44, 96);
    background: -moz-linear-gradient(120deg, rgba(4, 44, 96, 1) 0%, rgba(0, 72, 146, 1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(4, 44, 96, 1) 0%, rgba(0, 72, 146, 1) 100%);
    background: linear-gradient(120deg, rgba(4, 44, 96, 1) 0%, rgba(0, 72, 146, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#042c60", endColorstr="#004892", GradientType=1);
}

.message.onsitemedical .onsitemedical--left {
    width: 48%;
    height: 100%;
}

.message.onsitemedical .onsitemedical--left .message-title {
    width: 100%;
}

.message.onsitemedical .onsitemedical--left .message-name {
    font-size: 13px;
    font-size: 0.8125em;
    color: white;
    font-family: 'Gotham';
    font-weight: 500;
}

.message.onsitemedical .onsitemedical--left .message-position {
    font-size: 13px;
    font-size: 0.8125em;
    font-family: 'Gotham';
    font-weight: 500;
}

.message.onsitemedical .onsitemedical--left .message-position.opacity--none {
    opacity: 1;
}

.message.medicalmanpower {
    background: url("../images/grey-bg.png") no-repeat;
    background-size: cover;
}

.message.medicalmanpower .medicalmanpower--left {
    width: 48%;
}

.message.medicalmanpower .medicalmanpower--left .message-title {
    width: 100%;
    color: #004891;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}

.message.medicalmanpower .medicalmanpower--left .message-subtitle {
    color: black;
}

.message.medicalmanpower .medicalmanpower--left .message-name {
    font-size: 13px;
    font-size: 0.8125em;
    color: black;
    font-family: 'Gotham';
    font-weight: 500;
}

.message.medicalmanpower .medicalmanpower--left .message-position {
    font-size: 13px;
    font-size: 0.8125em;
    font-family: 'Gotham';
    font-weight: 700;
    opacity: 1;
}

.message.atglance .message-title {
    font-size: 22px;
    line-height: 28px;
}

.message.atglance .onsitemedical--left {
    width: 100%;
}

.message.atglance .onsitemedical--right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.message-subtitle {
    font-size: 16px;
    font-size: 1em;
    display: block;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
}

.message-title {
    font-size: 40px;
    font-size: 2.5em;
    display: block;
    line-height: 45px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.message-pic {
    padding-bottom: 0;
    margin: 0;
}

.message-detail {
    font-family: 'Gotham';
    font-weight: 700;
    font-size: 16px;
    font-size: 1em;
    padding: 50px 0;
}

.message-detail.bg-grey {
    background: #EBEAEB;
}

.message-detail.bg-blue {
    color: white;
    font-family: 'Gotham';
    font-weight: 500;
}

.message-detail p {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Gotham';
    font-weight: 500;
}

.message-name {
    margin-top: 50px;
    color: #004891;
    font-family: 'Gotham';
    font-weight: 700;
}

.message-position {
    font-family: 'Gotham';
    font-weight: 500;
}

.pdf-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
}

.pdf-link figure {
    width: 25px;
    margin-bottom: 0;
    margin-right: 10px;
}

.pdf-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 62%;
    line-height: 14px;
    font-family: 'gotham-med';
}

.pdf-detail span {
    color: white;
}

.pdf-detail span:nth-child(1) {
    font-size: 9px;
    font-weight: 500;
}

.pdf-detail span:nth-child(2) {
    font-size: 10px;
}

.partners.message .medicalmanpower--left {
    width: 100%;
}

.partners .partners-title {
    font-family: 'Gotham';
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875em;
    color: #004891;
    position: relative;
    padding: 5px 0;
    width: 100%;
    display: block;
    margin: 50px 0 20px;
}

.partners .partners-title:before, .partners .partners-title:after {
    content: '';
    height: 1px;
    width: 100%;
    background: #828487;
    position: absolute;
    left: 0;
}

.partners .partners-title:after {
    top: 0;
}

.partners .partners-title:before {
    bottom: 0;
}

.partners .partnerslogos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.partners .partnerslogos .partnerlogo {
    width: 115px;
    height: 85px;
    border-radius: 0 15px 0 15px;
    padding: 15px;
    margin: 0;
    background: white;
}

.partners .partnerslogos .partnerlogo:nth-of-type(2n-1) {
    background: transparent;
}

.partners .partners-review {
    font-family: "Gotham", sans-serif;
    font-size: 16px;
    font-size: 1em;
}

.partners .partners-review-name {
    display: block;
    color: #004891;
}

.onsitemedical--right, .medicalmanpower--right {
    width: 52%;
}

.isotopebanner {
    padding: 40px 0;
    background: url("../images/grey-bg.png") no-repeat;
    background-size: cover;
}

.isotopebanner .grid {
    position: relative;
    height: 750px;
}

.isotopebanner .grid__item {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.isotopebanner .iso-1 {
    top: 0;
    left: 11%;
}

.isotopebanner .iso-2 {
    left: 24%;
    top: 12%;
}

.isotopebanner .iso-3 {
    left: 46%;
    top: 12%;
}

.isotopebanner .iso-4 {
    left: 64%;
    top: 0;
}

.isotopebanner .iso-5 {
    top: 18%;
    right: 0;
}

.isotopebanner .iso-6 {
    left: 37%;
    top: 34%;
}

.isotopebanner .iso-7 {
    left: 50%;
    top: 34%;
}

.isotopebanner .iso-8 {
    left: 64%;
    top: 34%;
}

.isotopebanner .iso-9 {
    left: 11%;
    top: 49%;
}

.isotopebanner .iso-10 {
    left: 24%;
    top: 51%;
}

.isotopebanner .iso-11 {
    left: 50%;
    top: 51%;
}

.isotopebanner .iso-12 {
    left: 0;
    top: 66%;
}

.isotopebanner .iso-13 {
    left: 50%;
    top: 68%;
}

.isotopebanner .iso-14 {
    left: 75%;
    top: 68%;
}

.isotopebanner .iso-15 {
    left: 11%;
    bottom: 0px;
}

.isotopebanner .iso-16 {
    left: 34%;
    bottom: 0;
}

.isotopebanner .iso-17 {
    right: 0;
    bottom: 0;
}

.isotopebanner .iso-18 {
    left: 0;
    top: 22%;
}

.isotopebanner .grid__item {
    overflow: hidden;
}

.isotopebanner .grid__item.anticlock-br {
    border-radius: 0 25px 0 25px;
}

.isotopebanner .grid__item.clock-br {
    border-radius: 25px 0 25px 0;
}

.isotopebanner .grid__item.red {
    background: #E30613;
}

.isotopebanner .grid__item.blue {
    background: #004891;
}

.isotopebanner .grid__item.text-grid {
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 43px;
    font-size: 2.6875em;
    color: white;
    line-height: 43px;
}

.isotopebanner .grid__item-1 {
    height: 115px;
    width: 130px;
}

.isotopebanner .grid__item-2 {
    height: 147px;
    width: 222px;
    border-radius: 0 25px 0 25px;
}

.isotopebanner .grid__item-3 {
    height: 147px;
    width: 173px;
    border-radius: 0 25px 0 25px;
}

.isotopebanner .grid__item-4 {
    height: 187px;
    width: 253px;
    border-radius: 0 25px 0 25px;
}

.isotopebanner .grid__item-5 {
    height: 251px;
    width: 492px;
    border-radius: 0 25px 0 25px;
}

.isotopebanner .grid__item-6 {
    height: 115px;
    width: 133px;
    border-radius: 0 25px 0 25px;
}

.isotopebanner .grid__item-7 {
    height: 220px;
    width: 253px;
    border-radius: 0 25px 0 25px;
}

.isotopebanner .grid__item--width2 {
    width: 66%;
}

.isotopebanner .grid__item img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.isotopemegamenu .sectiongrid {
    position: relative;
    height: 310px;
}

.isotopemegamenu .grid__item {
    margin-bottom: 20px;
    float: left;
    position: absolute;
    bottom: 0;
    right: 0;
}

.isotopemegamenu .mega-1 {
    top: 8%;
    right: 68%;
}

.isotopemegamenu .mega-2 {
    right: 45%;
    top: 18%;
}

.isotopemegamenu .mega-3 {
    right: 26%;
    top: 18%;
}

.isotopemegamenu .mega-4 {
    right: 28%;
    top: 0;
}

.isotopemegamenu .mega-5 {
    top: 43%;
    right: 39%;
}

.isotopemegamenu .mega-6 {
    right: 67%;
    top: 33%;
}

.isotopemegamenu .mega-7 {
    right: 67%;
    top: 64%;
}

.isotopemegamenu .mega-8 {
    right: 0%;
    top: 18%;
}

.isotopemegamenu .mega-9 {
    right: 39%;
    top: 63%;
}

.isotopemegamenu .mega-10 {
    right: 26%;
    top: 43%;
}

.isotopemegamenu .mega-11 {
    right: 0%;
    top: 54%;
}

.isotopemegamenu .grid__item {
    overflow: hidden;
}

.isotopemegamenu .grid__item.anticlock-br {
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item.clock-br {
    border-radius: 25px 0 25px 0;
}

.isotopemegamenu .grid__item.red {
    background: #E30613;
}

.isotopemegamenu .grid__item.blue {
    background: #3D63A5;
}

.isotopemegamenu .grid__item.text-grid {
    padding: 13px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-size: 1.5625em;
    color: white;
    line-height: 27px;
    border: 1px solid white;
}

.isotopemegamenu .grid__item .pdf-link figure {
    width: 40px;
}

.isotopemegamenu .grid__item .pdf-link .pdf-detail {
    width: 100%;
}

.isotopemegamenu .grid__item .pdf-link .pdf-detail span {
    color: whitesmoke;
}

.isotopemegamenu .grid__item-1 {
    height: 51px;
    width: 64px;
}

.isotopemegamenu .grid__item-2 {
    height: 69px;
    width: 112px;
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item-3 {
    height: 70px;
    width: 90px;
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item-4 {
    height: 50px;
    width: 78px;
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item-5 {
    height: 83px;
    width: 133px;
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item-6 {
    height: 95px;
    width: 112px;
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item-7 {
    height: 122px;
    width: 131px;
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item-8 {
    height: 90px;
    width: 134px;
    border-radius: 0 25px 0 25px;
}

.isotopemegamenu .grid__item--width2 {
    width: 66%;
}

.isotopemegamenu .grid__item img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.back--white {
    background-color: #fff;
}

.gridwrapper {
    position: relative;
    height: 670px;
}

.gridwrapper .c-grid {
    position: absolute;
    padding: 0;
    overflow: hidden;
}

.gridwrapper.bluebg.onsite .first-grid {
    width: 196px;
    height: 212px;
    right: 0;
    bottom: 58%;
    padding: 20px;
}

.gridwrapper.bluebg.onsite .second-grid {
    width: 196px;
    height: 160px;
    bottom: 40%;
    right: 31%;
}

.gridwrapper.bluebg.onsite .third-grid {
    width: 160px;
    height: 95px;
    bottom: 40%;
    right: 0;
}

.gridwrapper.bluebg.onsite .fourth-grid {
    width: 200px;
    height: 120px;
    bottom: 0;
    left: -85px;
}

.gridwrapper.bluebg.onsite .fifth-grid {
    width: 430px;
    height: 250px;
    bottom: 0;
    right: 0;
}

.gridwrapper.bluebg.emergency .first-grid {
    width: 196px;
    height: 212px;
    right: 8%;
    bottom: 58%;
    padding: 20px;
}

.gridwrapper.bluebg.emergency .second-grid {
    width: 196px;
    height: 160px;
    bottom: 40%;
    right: 39%;
}

.gridwrapper.bluebg.emergency .fourth-grid {
    width: 200px;
    height: 120px;
    bottom: 0;
    left: -85px;
}

.gridwrapper.bluebg.emergency .fifth-grid {
    width: 438px;
    height: 250px;
    bottom: 0;
    right: 0;
}

.gridwrapper.bluebg.school .first-grid {
    width: 196px;
    height: 212px;
    right: 8%;
    bottom: 58%;
    padding: 20px;
}

.gridwrapper.bluebg.school .second-grid {
    width: 196px;
    height: 160px;
    bottom: 40%;
    right: 39%;
}

.gridwrapper.bluebg.school .fourth-grid {
    width: 200px;
    height: 120px;
    bottom: 0;
    left: -85px;
}

.gridwrapper.bluebg.school .fifth-grid {
    width: 438px;
    height: 250px;
    bottom: 0;
    right: 0;
}

.gridwrapper.bluebg.healthcare .first-grid {
    width: 203px;
    height: 225px;
    right: 37%;
    bottom: 50%;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.gridwrapper.bluebg.healthcare .third-grid {
    width: 234px;
    height: 155px;
    bottom: 43%;
    right: 0;
}

.gridwrapper.bluebg.healthcare .fourth-grid {
    width: 172px;
    height: 114px;
    bottom: 0;
    right: 85%;
}

.gridwrapper.bluebg.healthcare .fifth-grid {
    width: 473px;
    height: 266px;
    bottom: 0;
    right: 0;
}

.gridwrapper.greybg.manpower .first-grid {
    width: 203px;
    height: 225px;
    right: 40%;
    bottom: 50%;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.gridwrapper.greybg.manpower .third-grid {
    width: 254px;
    height: 170px;
    bottom: 43%;
    right: 0;
}

.gridwrapper.greybg.manpower .fourth-grid {
    width: 177px;
    height: 122px;
    bottom: 0;
    right: 78%;
}

.gridwrapper.greybg.manpower .fifth-grid {
    width: 420px;
    height: 272px;
    bottom: 0;
    right: 0;
}

.gridwrapper.greybg.support .first-grid {
    width: 203px;
    height: 225px;
    right: 70%;
    bottom: -5%;
    padding: 20px;
    color: black;
    font-weight: bold;
    z-index: 1;
}

.gridwrapper.greybg.support .third-grid {
    width: 292px;
    height: 190px;
    bottom: 43%;
    right: 22%;
}

.gridwrapper.greybg.support .fourth-grid {
    width: 139px;
    height: 142px;
    top: 12%;
    right: 6%;
}

.gridwrapper.greybg.support .fifth-grid {
    width: 420px;
    height: 272px;
    bottom: 0;
    right: 0;
}

.gridwrapper.greybg.occupation .first-grid {
    width: 203px;
    height: 225px;
    right: 65%;
    bottom: -5%;
    padding: 20px;
    color: black;
    font-weight: bold;
    z-index: 1;
}

.gridwrapper.greybg.occupation .third-grid {
    width: 395px;
    height: 242px;
    bottom: 43%;
    right: 0%;
}

.gridwrapper.greybg.occupation .fourth-grid {
    width: 139px;
    height: 142px;
    top: 3%;
    right: 6%;
}

.gridwrapper.greybg.occupation .fifth-grid {
    width: 268px;
    height: 160px;
    bottom: 16%;
    right: 22%;
}

.gridwrapper.greybg.mobile .first-grid {
    width: 203px;
    height: 225px;
    right: 48%;
    top: 16%;
    padding: 20px;
    color: black;
    font-weight: bold;
    z-index: 1;
}

.gridwrapper.greybg.mobile .third-grid {
    width: 290px;
    height: 195px;
    bottom: 43%;
    right: 0%;
}

.gridwrapper.greybg.mobile .fourth-grid {
    width: 153px;
    height: 109px;
    top: 62%;
    right: 72%;
    z-index: 1;
}

.gridwrapper.greybg.mobile .fifth-grid {
    width: 474px;
    height: 270px;
    bottom: 0;
    right: 0;
}

.gridwrapper.greybg.ceo {
    height: 415px;
}

.gridwrapper.greybg.ceo .first-grid {
    width: 214px;
    height: 220px;
    right: 23%;
    bottom: 50%;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.gridwrapper.greybg.ceo .first-grid p {
    line-height: 10px;
}

.gridwrapper.greybg.ceo .third-grid {
    width: 138px;
    height: 96px;
    bottom: 46%;
    right: 0;
}

.gridwrapper.greybg.ceo .fourth-grid {
    width: 180px;
    height: 122px;
    bottom: 0;
    right: 55%;
}

.gridwrapper.greybg.ceo .fifth-grid {
    width: 284px;
    height: 175px;
    bottom: 0;
    right: 0;
}

.gridwrapper.greybg.chairman {
    height: 415px;
}

.gridwrapper.greybg.chairman .first-grid {
    width: 185px;
    height: 200px;
    right: 16%;
    bottom: 45%;
    padding: 20px;
    color: #004891;
    font-family: 'Gotham';
    font-weight: 700;
    border-radius: 25px 0 25px 0;
}

.gridwrapper.greybg.chairman .first-grid p {
    line-height: 14px;
    font-size: 12px;
    font-family: 'Gotham';
    font-weight: 700;
}

.gridwrapper.greybg.chairman .third-grid {
    width: 140px;
    height: 100px;
    bottom: 28%;
    right: 0;
    border-radius: 25px 0 25px 0;
}

.gridwrapper.greybg.chairman .fourth-grid {
    width: 247px;
    height: 146px;
    bottom: 2%;
    right: 16%;
}

.atGlance {
    position: relative;
    display: block;
    margin-bottom: 3%;
}

.arrow {
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    background: #aeafb1;
    padding: 15px;
    border-radius: 50px;
}

.arrow:before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    display: block;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    margin-top: 3px;
    margin-left: -3px;
}

.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    margin-left: -3px;
}

.arrow:hover {
    cursor: pointer;
}

.error404 {
    color: #888;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.2;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error404 h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}

.error404 p {
    margin: 0 auto;
    width: 280px;
}

@media only screen and (max-width: 280px) {
    .error404 body, .error404 p {
        width: 95%;
    }

    .error404 h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }
}
