.accordion.mobilehide{
    display:none;
}
.mobilehide{
    display:none;
}

.menuaccordian .card-header {
    font-family: vga-thin;
    font-size: 16px;
    font-size: 1em;
    background: #787D81;
    border-radius: 0;
    cursor:pointer;
    padding: .5rem .75rem; }
.menuaccordian .card-header button {
    color: white;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
.menuaccordian .card-header button.btn-link {
    text-decoration: none; }
.menuaccordian .card-header button img {
    width: 12px; }

.menuaccordian .card-body {
    padding: 0; }


@media screen and (max-width:426px){

    .message {
        padding: 40px 0;
        position: relative;
        /*padding-bottom: 0;*/
    }
    .message.message-chair {
        background: #336BA4;
        padding: 0; }
    .message.message-ceo {
        background: url("../images/dark-blue-bg.png") no-repeat;
        background-size: cover;
        padding: 0; }
    .message-banner {
        flex-direction:column;
    }
    .message-title{
        width:100%;
    }
    .message-banner--left {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        padding: 40px 0; }
    .message-banner--right {
        width: 100%;
        margin-top: calc(50% - 221px) !important;
        padding-top: 40px;}

    .partners .partnerslogos .partnerlogo {
        width: 33.11%;
    }


    .partners.message .medicalmanpower--left {
        padding-bottom: 35px;
    }


    .message.onsitemedical .onsitemedical--left {
        width: 100%;
    }
    .message.medicalmanpower .medicalmanpower--left {
        width: 100%;
    }

    .desktophide{
        display:none;
    }
    .mobilehide{
        display:block;
    }
    .accordion{
        display:block;
    }
    .accordion.mobilehide{
        display:block;
    }
}

.togglered{
    background: #E30613!important;
}



.accordion{
    font-family: vga-thin;
    font-size: 16px;
    font-size: 1em;
    background: #787D81;
    border-radius: 0;
    cursor:pointer;
    padding: .5rem .75rem;
    width:100%;
    border:none;
    color: white;
    margin-bottom:2px;
}
.accordion:focus{
    outline:none;
}
.accordion span{
    float:left;
}
.accordion img {
    float: right;
    padding-top: 8px;
    width: 12px; }

.hidetoggle{
    display: none;
}

.downicon,.minusicon{display:none}
.minusicon.activated,.downicon.activated{display:block}


@media screen and (max-width:426px){

    .desktophide .d-flex{
        flex-direction: column;
    }

    .message-detail p:nth-child(1) {
        font-weight: bold;
    }

    .message-detail.bg-grey {
        background: #ffffff;
    }

    .partners-review-company{
        font-weight: bold;
        margin-bottom: 20px;
        display: block;
    }

    .partners .row{
        background: white;
        padding: 40px 0 80px;
        margin-bottom: -40px;
    }

    .onsitemedical--right, .medicalmanpower--right {
        width: 100%;
    }


    .gridwrapper.greybg.mobile .first-grid {
        width: 203px;
        height: 225px;
        right: 48%;
        top: 0%;
        background: none;
    }
    .gridwrapper.greybg.mobile .fourth-grid {
        width: 153px;
        height: 109px;
        top: 75%;
        right: 25px;
        z-index: 1;
        border-radius: 0 20px;
    }
    .gridwrapper.greybg.mobile .third-grid {
        width: 214px;
        height: 195px;
        bottom: 40%;
        right: 0%;
    }
    .gridwrapper.greybg.mobile .fifth-grid {
        width: 100%;
        bottom: 35px;
    }


    /*healtcare*/
    .gridwrapper.bluebg.healthcare .first-grid {
        width: 203px;
        height: 225px;
        right: 48%;
        bottom: 60%;
        padding: 20px;
        color: white;
        font-weight: bold;
    }

    .gridwrapper.bluebg.healthcare .third-grid {
        width: 234px;
        height: 155px;
        bottom: 43%;
        right: 0;
        border-radius: 0 20px;
    }

    .gridwrapper.bluebg.healthcare .fifth-grid {
        width: 63%;
        height: 266px;
        bottom: 1%;
        right: 37%;
    }

    .gridwrapper.bluebg.healthcare .fourth-grid {
        width: 135px;
        height: 114px;
        bottom: 16%;
        right: 0%;
        border-radius: 0 20px;
    }

    /*occupation*/
    .gridwrapper.greybg.occupation .fourth-grid {
        width: 170px;
        height: 120px;
        top: 0%;
        right: 4%;
    }
    .gridwrapper.greybg.occupation .third-grid {
        width: 100%;
        height: 242px;
        bottom: 58%;
        right: 0%;
    }
    .gridwrapper.greybg.occupation .first-grid {
        width: 203px;
        height:auto;
        right: 49%;
        bottom: 12%;
        padding: 20px;
        color: black;
        font-weight: bold;
        z-index: 1;
    }
    .gridwrapper.greybg.occupation .fifth-grid {
        width: 268px;
        height: 160px;
        bottom: 36%;
        right: 0;
    }

    #healthServices .gridwrapper{
        height: 800px;
    }


    /*school healthcare */
    .gridwrapper.bluebg.school .first-grid {
        right: 0;
        width: 210px;
        top: 0;
        padding: 20px 35px;
        height: auto;
    }
    .gridwrapper.bluebg.school .second-grid {
        border-radius: 0 20px 0 20px;
        width: 246px;
        top: 37%;
        right: 38%;
    }
    .gridwrapper.bluebg.school .fourth-grid {
        left: -13px;
        width: 30%;
        top: 72%;
        border-radius: 0 20px;
    }
    .gridwrapper.bluebg.school .fifth-grid {
        width: 65%;
        height: 250px;
        bottom: -3%;
        right: 0;
    }

    /*support*/
    .gridwrapper.greybg.support .fourth-grid {
        width: 139px;
        height: 142px;
        top: 0%;
        right: 0;
    }

    .gridwrapper.greybg.support .third-grid {
        width: 292px;
        height: 190px;
        bottom: 64%;
        right: 26%;
    }

    .gridwrapper.greybg.support .fifth-grid {
        width: 80%;
        height: 272px;
        bottom: 30%;
        right: 0;
        border-radius: 0 20px;
    }

    .gridwrapper.greybg.support .first-grid {
        width: 218px;
        right: 45%;
        top: 57%;
        z-index: 1;
        background: none;
        height: 260px;
    }

    #supportEvent .gridwrapper{
        height: 830px;
    }


    /*emergency*/
    .onsitemedical .gridwrapper.bluebg.emergency .first-grid {
        padding: 20px 35px;
        width: 218px;
        right: 0;
        top: 0;
        padding-bottom: 25px;
        height: calc(66% - 187px);
    }
    .onsitemedical .gridwrapper.bluebg.emergency .second-grid {
        border: 0;
        right: 38%;
        top: 34%;
        width: 244px;
    }

    .onsitemedical .gridwrapper.bluebg.emergency .fourth-grid {
        left: -3.5%;
        bottom: 5%;
        width: 30%;
    }

    .gridwrapper.bluebg.emergency .fifth-grid {
        width: 65%;
        height: 250px;
        bottom: -4%;
        right: 0;
    }

    #emergencyServices .pdf-detail {
        line-height: 12px;
         padding-top: 0px;
    }

    #emergencyServices .gridwrapper{
        height: 630px;
    }

    /*-----------------------------------------------*/
    .pdf-link {
        width: 100%;
        margin-top: -75px;
    }
    .pdf-link figure {
        float: left;
    }
    .pdf-detail {
        line-height: 12px;
        padding-top: 10px;
    }

    .rounded-card--inner span {
        font-weight: bold;
        font-size: 66px;
    }
}
